## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

# Visual Studio cache/options
.vs/
*.csproj.user
*.dbmdl
*.jfm

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec

# Python compiled executables
MABooklet/python/*.exe

# Installer / setup files
*.exe
*.msi
*.iss

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
